* {
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 margin: 0;
 }

.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  background-color: rgb(84, 148, 49);
  color: rgb(26, 74, 0);
  font-family: Arial;
  font-size: 12px;
}


h1 {
  text-align: center;
  margin: 1em;
  font-size: 3em;
}

h2 {
  margin-bottom: 10px;
}

canvas {
  border: 2px solid #000;
  margin: 0 auto;
  display: block;
}

#level {
  text-align: center;
  margin: 0.5em 0;
  font-size: 2em;
  vertical-align: top;
}

a, a:link {
  color: rgba(0,0,0,0.8);

}

a:hover {
  color: rgba(0,0,0,0.3);
}

.start-game {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 600px;
  height: 475px;
  margin-left: -300px;
  top: 100px;
  left: 50%;
  text-align: center;
  font-size: 2em;
  padding-top: 13%;
  border: 2px solid #000;
}

.start-game p {
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  outline: 9999px solid rgba(0, 0, 0, 0.4);
  background: rgb(255, 255, 255);
  width: 400px;
  top: 45%;
  left: 50%;
  text-align: center;
  margin: -80px 0 0 -200px;
  padding: 35px 0;
  z-index: 100;
  color: #000;
  text-transform: uppercase;
}

.overlay a {
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.overlay p {
  margin: 0 0 1em;
  font-size: 1.255em;
}

.overlay__restart {
  margin-bottom: 12px;
  display: inline-block;
}

#game-over {
  display: none;
}